# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Virtual Environments
venv/
env/
.venv/

# Logs
*.log

# Temporary Files
*.tmp

# Streamlit Cache
.streamlit/

# Build Files
build/
dist/
*.egg-info/

# Python Environment Files
.python-version

# System Files
Thumbs.db


# Dataset
dataset/